<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268422506080-87tod8edsnmvgq6td834ek5v6s09e0o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268422506080-87tod8edsnmvgq6td834ek5v6s09e0o3</string>
	<key>API_KEY</key>
	<string>AIzaSyD8BZGeTXF2trwIYLXOO5SURXptj51XepI</string>
	<key>GCM_SENDER_ID</key>
	<string>268422506080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ke.co.droidcon.flutterApp2020</string>
	<key>PROJECT_ID</key>
	<string>droidconke2020</string>
	<key>STORAGE_BUCKET</key>
	<string>droidconke2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268422506080:ios:0ac6dab9c82815fd14c505</string>
	<key>DATABASE_URL</key>
	<string>https://droidconke2020.firebaseio.com</string>
</dict>
</plist>